<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217941143201-pd2uajcl0jrk35ufdbnlndirg9a15ahd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217941143201-pd2uajcl0jrk35ufdbnlndirg9a15ahd</string>
	<key>API_KEY</key>
	<string>AIzaSyBTJ_Ul0sQSJdT_O9vJNg9uRRmeXSvr78s</string>
	<key>GCM_SENDER_ID</key>
	<string>217941143201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webapp</string>
	<key>PROJECT_ID</key>
	<string>webappvizola</string>
	<key>STORAGE_BUCKET</key>
	<string>webappvizola.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217941143201:ios:aafe92b6d78a87c9628ae0</string>
</dict>
</plist>